<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" name="testNGSuite">
	<listeners>
		<listener class-name="com.jtaf.qa.listeners.ExtentListener"></listener>
	</listeners>
	<test name="LoginTest">
		<classes>
			<class name="com.jtaf.qa.runner.TestRunner" />
		</classes>
	</test>
</suite>